@using ChroniclesOfClevermist.Common
@model ChroniclesOfClevermist.Web.ViewModels.News.AllNewsViewModel
@{
    this.ViewData["Title"] = "News";
}

<div class="row">
    @foreach (var i in Model.News)
    {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="data:image;base64,@Convert.ToBase64String(i.Image)" class="card-img-top" alt="@i.Title">
                <div class="card-body">
                    <h5 class="card-title">@i.Title</h5>
                    <p class="card-text">@i.CreatedOn</p>
                    <p class="card-text">@i.Content</p>
                    <a class="btn btn-primary" onclick="location.href='@Url.Action("Details", "News", new { Id = i.Id})'">Read more</a>
                </div>
            </div>
        </div>
    }
</div>
@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <a class="btn btn-primary" asp-controller="News" asp-action="Add">Add news</a>
}
